---
// import { HelloComponent } from '@frontend/ui/hello';

import { HelloComponent } from '../../../../../libs/frontend/ui/src/lib/hello/hello.component';
import { TodosComponent } from '../../../../../libs/frontend/ui/src/lib/todos/todos.component';

const helpText = "Helping binding";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<h2>Component inside /apps</h2>
		
		<!-- Hello 👋 -->
		<HelloComponent client:visible />
		<HelloComponent helpText="Helping" />
		<HelloComponent helpText={helpText} />	
		
		<!-- Todos -->
		<TodosComponent client:visible />
	</body>
</html>
