---
// import { HelloComponent } from '@frontend/ui/hello';
import { HelloComponent } from '../components/hello.component';

const helpText = "Helping binding";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<h2>Component inside /apps</h2>
		<HelloComponent client:visible />
		<HelloComponent helpText="Helping" />
		<HelloComponent helpText={helpText} />		
	</body>
</html>
